<div class="mt-16 mb-16 mx-auto w-11/12 md:w-10/12 md:max-w-7xl lg:max-w-screen-2xl
            grid gap-4 grid-cols-2 md:grid-cols-4 lg:grid-cols-5 touch-pan-y">
  @for (image of images(); track image.id) {
    @if (image.url) {
      @if ($index === 0) {
        <div class="lg:col-start-1 lg:col-end-3 lg:row-start-1 lg:row-end-3">
          <app-image [image]="image" [isSelected]="isImageSelected(image.id)" (selectImage)="toggleSelection($event)"
              (deleteImage)="handleDelete($event)" class="cursor-pointer hover:opacity-80 transition" />
        </div>
      } @else {
        <div>
          <app-image [image]="image" [isSelected]="isImageSelected(image.id)" (selectImage)="toggleSelection($event)"
              (deleteImage)="handleDelete($event)" class="cursor-pointer hover:opacity-80 transition" />
        </div>
      }
    }
  }
</div>
