<div class="relative w-full h-full group" (click)="toggleSelection($event)" [class.selected]="isSelected()"
    role="button" tabindex="0" [attr.aria-pressed]="isSelected()" [attr.aria-label]="image().description">
    <img [src]="image().url" [alt]="image().description" loading="lazy"
        class="w-full h-full object-cover rounded">

    <div class="absolute inset-0 bg-blue-500/20 transition-opacity pointer-events-none"
        [class.opacity-0]="!isSelected()" [class.opacity-100]="isSelected()"></div>

    <div class="absolute top-2 left-2.5" (click)="$event.stopPropagation()">
        <p-checkbox [ngModel]="isSelected()" (ngModelChange)="onCheckboxChange()" [binary]="true"></p-checkbox>
    </div>

    <p-button
        (click)="deleteImageClick($event)"
        styleClass="absolute top-2.5 right-2.5 w-9 h-9 !p-0 !bg-red-500 !border-red-500 hover:!bg-red-600 transition-opacity"
        [class.opacity-100]="isSelected()"
        [class.opacity-0]="!isSelected()"
        [class.group-hover\:opacity-100]="!isSelected()"
        icon="pi pi-trash"
        [rounded]="true"
        severity="danger"
        aria-label="Eliminar Imagen"
    ></p-button>
</div>
